[submodule "/Users/mkaempf/Desktop/Coaching-S.F./C4B/ifdk-modules/pbbp-v1/assistants/opi-bot-poc"]
	path = /Users/mkaempf/Desktop/Coaching-S.F./C4B/ifdk-modules/pbbp-v1/assistants/opi-bot-poc
	url = https://github.com/kamir/opi-bot-poc