[submodule "assistants/opi-bot-poc"]
	path = assistants/opi-bot-poc
	url = https://github.com/kamir/opi-bot-poc
[submodule "data-stage"]
	path = data-stage
	url = https://github.com/kamir/my-memories-mk-v1-001
